@import "components/ui/colors.css";

.loadingSpinner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;

  &:before {
    box-sizing: border-box;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 2px solid color(var(--color-primary) a(18%));
    border-top-color: var(--color-primary);
    animation: spin 0.6s linear infinite;
    width: 100%;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
