@import "components/ui/colors.css";

:root {
  --header-height: 60px;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  height: var(--header-height);
}

.main {
  flex: 1;
  display: flex;
  height: calc(100vh - var(--header-height));
}

.heroImage {
  flex: 2;
  min-height: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.66)
    ),
    url("/images/home-banner.jpg");
  background-position: center;
  background-size: cover;
}

.content {
  flex: 3;
  padding: 100px 100px 40px 100px;

  a {
    color: var(--color-accent);
  }
}
