:root {
  --header-height: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: var(--header-height);
}

.main {
  flex: 1;
  background: #ccc;
  display: flex;
}

.heroImage {
  flex: 1;
  height: 100%;
  background: red;
}

.content {
  flex: 1;
}
