.navigation {
  display: flex;

  > * {
    margin-left: 30px;
    text-decoration: none;

    @media only screen and (max-width: 767px) {
      margin-left: 10px;
      font-size: 14px;
    }

    &:hover {
      opacity: 0.66;
    }
  }
}
