@import "components/ui/colors.css";

.button {
  appearance: none;
  font-size: 18px;
  border-radius: 4px;
  padding: 12px 18px;
  cursor: pointer;
  text-decoration: none;

  &.primary {
    background: var(--color-primary);
    color: var(--color-secondary);
    border: 2px solid var(--color-primary);

    &:hover {
      background: color(var(--color-primary) tint(20%));
      border-color: color(var(--color-primary) tint(20%));
    }
  }

  &.secondary {
    background: var(--color-secondary);
    color: color(var(--color-primary) tint(30%));
    border: 2px solid color(var(--color-primary) tint(30%));

    &:hover {
      color: var(--color-primary);
      border-color: var(--color-primary);
      background: color(var(--color-primary) tint(92%));
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
