@import "components/ui/colors.css";

.inputContainer {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.label {
  display: inline-block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  border: 2px solid color(var(--color-primary) tint(70%));
  border-radius: 4px;
  padding: 5px 3px;
}
